<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      // _createShowAllButton: function() {
      //   var input = this.input,
      //     wasOpen = false;
 
      //   $( "<a>" )
      //     .attr( "tabIndex", -1 )
      //     .attr( "title", "Show All Items" )
      //     .tooltip()
      //     .appendTo( this.wrapper )
      //     .button({
      //       icons: {
      //         primary: "ui-icon-triangle-1-s"
      //       },
      //       text: false
      //     })
      //     .removeClass( "ui-corner-all" )
      //     .addClass( "custom-combobox-toggle ui-corner-right" )
      //     .on( "mousedown", function() {
      //       wasOpen = input.autocomplete( "widget" ).is( ":visible" );
      //     })
      //     .on( "click", function() {
      //       input.trigger( "focus" );
 
      //       // Close if already visible
      //       if ( wasOpen ) {
      //         return;
      //       }
 
      //       // Pass empty string as value to search for, displaying all results
      //       input.autocomplete( "search", "" );
      //     });
      // },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
 
    $( "#combobox" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  } );
  </script>
	<div class="hero">
		
		<div class="hotel-search">
			<h1 class="headline">The Smiling Coast Hotels</h1>
			<h2 class="sub-headline">Find and Book Hotels in The Gambia</h2>

			<div class="hotel-search-wrap">
				<%= form_tag root_path, :method => 'get' do %>
          <div class="search-fields">
	          <form action="/cashpower/search_result">
	          	<div class="ui-widget">
		            <select name ="id" id="combobox" required="required">
		                  		<option value="" disabled selected>Select Site Name</option>
		                    		<% @hotels.each do |nam| %>
		                 		 <option value="<%= nam.id %>"><%= nam.name%></option> 
		                    	<%end%>
		            </select> 
		            <input type="submit" value="Search"/> 
	        	</div>
	          </div>
	         </form>
        <% end %>
			</div>
		</div>
	</div>

	<div class="intro">
		<h1>Smiling Coast Hotels</h1>
		<p>We are an online travel agency specialising in hotel bookings, recommendations and reviews within The Gambia. We help customers book hotel rooms online, provide comprehensive help and support to our clients and make the hotel booking process smooth and easy.</p>		
	</div> 


	<% if @hotels.count == 0 %>
		<h2>There is no Hotel in the database.</h2>
	<% else %>
		<div class="hotels-row">
			<% @hotels.each do |hotel| %>
				<div class="hotel-card">
          			<%= image_tag("hotel1.jpg", alt: "Gambia Hotels") %>
					<div class="hotel-desc">
						<%= link_to hotel.name, { :controller => 'hotels', :action => 'show', :id => hotel.id }, :method => :get, class: "hotel-name" %>
						<span><%= truncate(hotel.description, :length => 80)  %></span>
						<ul class="rate">
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star-half-o"></i></li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
 
 

	<div class="cta">
		<h1>Are you a Hotel Owner in The Gambia?</h1>
		<p>Have your Hotel Registered with us for <span>FREE</span></p>

		<a href="#" class="btn btn-success">Register Now</a>		
	</div>

	<div class="testimonials-row">
		<div class="testimonial-wrap">
			<div class="testimonial">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna,
			</div>

			<div class="author"><span>Buba Manjang</span> - Developer</div>
		</div>
	</div> 

	<div class="recognized-by">
		<div class="recognized-by-group">
			<div class="recognized-by-text">
				Smiling Coast Hotels has been recognized by
			</div>
			<div class="recognized-by-logos">
				<img src="../assets/MOTC-Logo.jpg" alt="">
				<img src="../assets/gambiacoatofarm.jpg" alt="">
				<img src="../assets/gtb.jpg" alt="">
				<img src="../assets/roots.png" alt="">
			</div>
		</div>
	</div>