
	<div class="hero">
		
		<div class="hotel-search">
			<h1 class="headline">The Smiling Coast Hotels</h1>
			<h2 class="sub-headline">Find and Book Hotels in The Gambia</h2>

			<div class="hotel-search-wrap">
				<%= form_tag root_path, :method => 'get' do %>
          <div class="search-fields">
            <%= text_field_tag :search, params[:search], :placeholder => "Search for a Hotel" %>
            <%= submit_tag "Search", :name => nil %>
          </div>
        <% end %>
			</div>
		</div>
	</div>

	<div class="intro">
		<h1>Smiling Coast Hotels</h1>
		<p>We are an online travel agency specialising in hotel bookings, recommendations and reviews within The Gambia. We help customers book hotel rooms online, provide comprehensive help and support to our clients and make the hotel booking process smooth and easy.</p>		
	</div> 


	<% if @hotels.count == 0 %>
		<h2>There is no Hotel in the database.</h2>
	<% else %>
		<div class="hotels-row">
			<% @hotels.each do |hotel| %>
				<div class="hotel-card">
          <%= image_tag("hotel1.jpg", alt: "Gambia Hotels") %>
					<div class="hotel-desc">
						<%= link_to hotel.name, { :controller => 'hotels', :action => 'show', :id => hotel.id }, :method => :get, class: "hotel-name" %>
						<span><%= truncate(hotel.description, :length => 80)  %></span>
						<ul class="rate">
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star-half-o"></i></li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
 
 

	<div class="cta">
		<h1>Are you a Hotel Owner in The Gambia?</h1>
		<p>Have your Hotel Registered with us for <span>FREE</span></p>

		<a href="#" class="btn btn-success">Register Now</a>		
	</div>

	<div class="testimonials-row">
		<div class="testimonial-wrap">
			<div class="testimonial">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna,
			</div>

			<div class="author"><span>Buba Manjang</span> - Developer</div>
		</div>
	</div> 

	<div class="recognized-by">
		<div class="recognized-by-group">
			<div class="recognized-by-text">
				Smiling Coast Hotels has been recognized by
			</div>
			<div class="recognized-by-logos">
				<img src="../assets/MOTC-Logo.jpg" alt="">
				<img src="../assets/gambiacoatofarm.jpg" alt="">
				<img src="../assets/gtb.jpg" alt="">
				<img src="../assets/roots.png" alt="">
			</div>
		</div>
	</div>