

	<h2><%= @hotel.name %></h2>
	<h3><%= @hotel.address %></h3>
	<p><%= @hotel.description %></p>



<div class="row">
	<div class="hotel-reviews">
		<h1>Reviews</h1>
		<% @review.each do |r| %>
		<div class="review-rating" data-score="<%= r.rating %>" >
			
		</div>	
		 

		<%= r.comment %>
		<% end %>
		
		<div class="review-col">
	<div class="hotel-review-form">
		<h1>Write Your Review</h1>

		
		
		<form action="/hotels/add_review" method="post">
			<div id="rating-form"  >
				
				<label>Rating</label>
			</div>
			<input type="hidden" name="hotel_id" value="<%=@hotel.id%>">
			<textarea name="comment"></textarea>
			<!-- <button type="submit" name="submit" class="btn">Submit</button> -->
			<input type="submit" id="submit" value="Submit" class="btn" />
		</form>

	</div>
</div>



	</div>
</div>




<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
		    return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'rating'
	});
</script>