	<div class="single-hotel-top">
		<div class="single-hotel-top-wrap">
			<span class="hotel-name"><%= @hotel.name %></span>
			<span class="hotel-address"><%= @hotel.address %></span>

			<span class="hotel-average-rating">
				<span class="hotel-like"><img src="../assets/like.svg" width="30px"> <span class="likes"> 273 Likes</span></span>
				
				<ul class="rate">Average Rating: <%= Review.where(hotel_id: @hotel.id).average("rating").round(1)%>
					<!-- <li class="icon star"><i class="fa fa-star"></i></li>
					<li class="icon star"><i class="fa fa-star"></i></li>
					<li class="icon star"><i class="fa fa-star"></i></li>
					<li class="icon star"><i class="fa fa-star"></i></li>
					<li class="icon star"><i class="fa fa-star-half-o"></i></li> -->
				</ul>
			</span>
		</div>
	</div>

	<div class="main-wrapper">
		<div class="hotel">
			
			<div class="hotel-gallery">
				<ul class="slideshow slideshow-main js-flickity" data-flickity='{ "asNavFor": ".slideshow-main", "pageDots": false, "contain": true }' >
					<li class="slide" style="background-image: url(../assets/hotel1.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel2.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel3.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel4.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel5.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel6.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel7.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel8.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel9.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel10.jpg);"></li>
				</ul>

				<ul class="slideshow slideshow-nav" data-flickity='{ "asNavFor": ".slideshow-main", "pageDots": false, "contain": true }'>
				  	<li class="slide" style="background-image: url(../assets/hotel1.jpg);"></li>
				  	<li class="slide" style="background-image: url(../assets/hotel2.jpg);"></li>
				  	<li class="slide" style="background-image: url(../assets/hotel3.jpg);"></li>
				  	<li class="slide" style="background-image: url(../assets/hotel4.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel5.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel6.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel7.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel8.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel9.jpg);"></li>
					<li class="slide" style="background-image: url(../assets/hotel10.jpg);"></li>
				</ul>



				<div class="hotel-facilities">
					<div class="hotel-facility">
						<div class="facility-icon"><i class="icon icon-cutlery"></i></div>
						<div class="facility-name">Restaurant</div>
					</div>

					<div class="hotel-facility">
						<div class="facility-icon"><i class="icon icon-glass"></i></div>
						<div class="facility-name">Bar/Lounge</div>
					</div>

					<div class="hotel-facility">
						<div class="facility-icon"><i class="icon icon-music"></i></div>
						<div class="facility-name">Music</div>
					</div>

					<div class="hotel-facility">
						<div class="facility-icon"><i class="icon icon-flight"></i></div>
						<div class="facility-name">Airport Pickup</div>
					</div>

					<div class="hotel-facility">
						<div class="facility-icon"><i class="icon icon-house"></i></div>
						<div class="facility-name">Room Service</div>
					</div>
				</div>

				<div class="about-hotel">
					<h2>About <%= @hotel.name %></h2>
					<p>
					  <% if @hotel.description.length > 150 %>
					    <%= truncate(@hotel.description, length: 150) %>
					    <%= link_to 'Read more', '', class: "hotel-read-more read-more-#{@hotel.id}" %>
					    <script>
					      $('.read-more-<%= @hotel.id %>').on('click', function(e) {
					        e.preventDefault()
					        $(this).parent().html('<%= escape_javascript @hotel.description %>')
					      })
					    </script>
					  <% else %>
					    <%= @hotel.description %>
					  <% end %>
					<p>



				</div>

				<div class="reviews" id="reviews">
					<div class="reviews-headline">Reviews</div>
					<div class="reviews-wrap">
						<% @review.each do |r| %>
						<div class="review">
							<div class="review-wrap">
								<div class="review-author">
									<div class="review-author-thumbnail"><img src="../assets/johndoe.jpeg"></div>
									<div class="review-author-name">John Doe</div>
									<div class="review-rating" data-score="<%= r.rating %>" ></div>
								</div>

								<div class="review-content">
									<%= r.comment %>
								</div>
							</div>
						</div>
						<% end %>
					</div>

					<a href="#" id="loadMore">Load More</a>

					<p class="totop"> 
					    <a href="#top">Back to top</a> 
					</p>

				</div>

				<div class="reviews-form">
					<div class="reviews-form-wrap">
						<form action="/hotels/add_review" method="post">
							<input type="hidden" name="hotel_id" value="<%=@hotel.id%>">

							<div class="reviews-form-inputs">
								<input type="text" placeholder="First Name" name="review-author-fname">
								<input type="text" placeholder="First Name" name="review-author-lname">
							</div>

							<div id="rating-form" name="rating">
								<label>Rating</label>
							</div>

							<div class="review-message">
								<textarea cols="10" rows="6" name="comment"></textarea>
							</div>

							<input type="submit" id="submit" value="Submit" class="btn" />
						</form>
					</div>
				</div>

			</div>


			<div class="hotel-sidebar">

				<div class="select-room">
					<div class="search-room">
						<div class="search-room-wrap">
						    <form action="#" method="POST">
						      <div class="checkin">
						        <div class="checkin-label">Check in date</div>
						        <input type="date" name="checkin-date">
						      </div>
						      
						      <div class="checkout">
						        <div class="checkout-label">Check out date</div>
						        <input type="date" name="checkout-date">
						      </div>
						      
						      <div class="budget">
						        <div class="budget-label">Budget</div>
						        <input type="number" name="budget" placeholder="Budget">
						      </div>
						      
						    </form>
						</div>
					</div>

					<div class="list-of-rooms">
					    <ul class="hotel-rooms">
						    <li class="hotel-room">
						        <div class="room">
							        <div class="room-details">
							            <p class="room-type">Single Room</p>
							            <p class="room-availability">Available</p>
							        </div>
							          
							        <div class="add-room">
							            <div class="price">D800</div>
							            <div class="small">per night</div>
							            <button class="btn">Select Room</button>
							        </div>
						        </div>
						    </li>
						      
						    <li class="hotel-room">
						        <div class="room">
							        <div class="room-details">
							            <p class="room-type">Standard Room</p>
							            <p class="room-availability">Available</p>
							        </div>
							          
							        <div class="add-room">
							            <div class="price">D1,100</div>
							            <div class="small">per night</div>
							            <button class="btn">Select Room</button>
							        </div>
						        </div>
						    </li>
						      
						    <li class="hotel-room">
						        <div class="room">
							        <div class="room-details">
							            <p class="room-type">Double Room</p>
							            <p class="room-availability">Available</p>
							        </div>
							          
							        <div class="add-room">
							            <div class="price">D1,300</div>
							            <div class="small">per night</div>
							            <button class="btn">Select Room</button>
							        </div>
						        </div>
						    </li>
						      
						    <li class="hotel-room">
						        <div class="room">
							        <div class="room-details">
							            <p class="room-type">Suite Room</p>
							            <p class="room-availability">Available</p>
							        </div>
							          
							        <div class="add-room">
							            <div class="price">D1,700</div>
							            <div class="small">per night</div>
							            <button class="btn">Select Room</button>
							        </div>
						        </div>
						    </li>.
					    </ul>
					</div>
				</div>

				<div class="average-rating">
					<div class="average-rating-bar">
						<progress max="5.0" value="<%= Review.where(hotel_id: @hotel.id).average("rating").round(1)%>"></progress>
					</div>

					<div class="average-rating-figure">
						Average Rating: <span><%= Review.where(hotel_id: @hotel.id).average("rating").round(1)%></span>
					</div>
				</div>

				<div class="google-map">
					<div id="map"></div>
				</div>

				<div class="tripadvisor"></div>


			</div>

		</div>
	</div>
