
<body>
	<section class="navigation">
		<div class="nav-container">
		    <div class="brand">
		      <a <%= link_to image_tag("logo.png", alt: "Gambia Hotels"), root_path %> </a>
		    </div>
		    <nav>
			    <div class="nav-mobile"><a id="nav-toggle" ><span></span></a></div>
			    <ul class="nav-list">
			        <li><%= link_to 'Home', root_path, method: :get %></li>
			        <li><%= link_to 'About', about_path, method: :get %></li>
			        <li><%= link_to 'FAQ', faq_path, method: :get %></li>
			        <li><%= link_to 'Contact', contact_path, method: :get %></li>
			        <li><a class="menu-active">Account</a>
			          <ul class="nav-dropdown">
			            <li><%= link_to 'Sign In', login_path, method: :get %></li>
			            <li><a >Create Account</a></li>
			          </ul>
			        </li>
			    </ul>
		    </nav>
		</div>
	</section>